<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Tangerine:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="BodegaApp">
    <div class="container">
      <div class="row" ng-controller="bListingsController">
             <table>
                <tr><th>Bodega</th><th>Website</th></tr>
                <tbody ng-repeat="blisting in blistings" | flattenRows>
                    <tr><td> {{ blisting.bodname }} </td>
                         <td> {{ blisting.bodurl }} </td>
                        <td>
                            <table>
                                <tr><th>Vendor</th><th>Phone</th></tr>
                                <tbody ng-repeat="ven in blisting.vendor">
                                <tr ng-click="showDetails($index)"><td>{{ ven.venname }}</td>
                                     <td>{{ven.venmobile}}</td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
               </tbody>
             </table>
          <div class="jumbotron">
          <h2><a href="#" data-toggle="tooltip" title="Click on Vendor for Item Info">Item Information</a></h2>
          <div ng-show="detailedInfo == undefined"></div>
          <div ng-show="detailedInfo != undefined">
              <h3 ng-repeat="i in ven.item"> Item: {{i.vendor.item.itemname}}{{ detailedInfo.i.itemname }} </h3>
              <h4> Price: {{itemprice}}{{i.itemprice}}{{ detailedInfo.i.itemprice }}{{detailedInfo.itemprice}}
                  -- Qty: {{i.item.itemqty}}{{i.itemqty}}{{ detailedInfo.i.itemqty }} </h4>
              <h5> Expiration: {{ven.item[0]}}{{i.itemexp}}{{ detailedInfo.i.itemexp }}</h5>
          </div>
          </div>

       <div class="jumbotron">
        <div ng-show="true" ng-repeat="i2 in blistings">
                {{ i2.vendor.item.itemname }}
                {{ i2.vendor.item.itemprice }}
                {{ i2.vendor.item.itemqty }}
        </div>
           <div ng-repeat="ven in blisting.vendor">
               <div ng-repeat="prod in ven.item"
                   ng-show="true">
               </div>
           </div>
       </div>

          <select>
              <option value="">Item</option>
              <optgroup ng-repeat="blisting in blistings" label="{{blisting.bodname}}">
                  <optgroup ng-repeat="ven in blisting.vendor" label="&nbsp;&nbsp;&nbsp;&nbsp;{{blisting.venname}}">
                    <option ng-repeat="prod in ven.item" value="{{{blisting.item}}">{{ prod.itemname}}</option>
                  </optgroup>
              </optgroup>
          </select>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.6.7/angular.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/factories/blistingFactory.js"></script>
    <script src="./js/controllers/blistingController.js"></script>
  </body>
</html>