/* OVERALL*/
*{
  box-sizing: border-box;
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
}
/* OVERALL END*/
/* BODY */
body {

font-family: "Verdana", sans-serif;
font-weight: bold;
color : black;
 background-image: linear-gradient(to bottom right, rgb(57, 226, 225), rgb(6, 81, 112));
}
/* BODY END*/
/* TOP BAR*/
.topBar{
  order: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #FFFFFF;
  border: 5px ridge #FCF3A2;
}

.logo{
  order: 1;
}

.navBar{
  order: 2;
  width: 70%;
  border-radius: 5px;
  border: 3px double #FCF3A2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 75px;
}

.home-link, .about-link, .contact-link, .cart-link, .login-link, .user-link{
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  max-height: 60%;
  font-size: 1.3vw;
}

/* TOP BAR END */

#food{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
  margin: 20px 0;
}

.card{
  width: 22%;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #FC7869;

  border: 3px outset #FCF3A2;
  background-color: #FFFFFF;
  text-align: center;

  padding: 10px 0;
}

.item_name{
  text-overflow: wrap;
}

button{
  border: 2px outset #FCF3A2;
  background-color: #FC7869;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
}

.map-box-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #FFFFFF;

  margin-top: 40px;
  margin-bottom: 20px;
}

.map-title{
  margin-bottom: 20px;
}

#myModalabout, #myModalcontact{
  color: black;
}

.sideButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  order: 3;
}

.signout{
  border: 2px outset #FCF3A2;
  background-color: #FC7869;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 5px;
}
.searchbar{
	float:center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	
}
.searchbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;


}

.searchbar select {
  float :left;
  padding: 8px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Table */
.tableWrapper
{
	float: center;
	margin : auto;
	width : 80%;
	background-color: white;
}
#atable tr:hover {background-color: #ddd;}

#ctable th {

  background-color: #4CAF50;
  color: white;
}
/* table end */




