<!DOCTYPE html>
<html>
	<head>
	<title>BODEGA ADMIN</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/admin.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
	<script src="js/app.js"></script>
	<script src="js/factories/listingFactory.js"></script>
	<script src="js/controllers/listingController.js"></script>
</head>


<header>
    <div class='topBar' ng-app="directoryApp" ng-controller="ListingsController">
      <img class='logo' src='./pictures/logo_transparent.svg' height='150px' width='150px'/>
      <div class="navBar">
        <button class="home-link"><a href="index.html">HOME</a></button>
        <button class="about-link" data-toggle="modal" data-target="#myModalabout">ABOUT</button>
				<button class="contact-link" data-toggle="modal" data-target="#myModalcontact">CONTACT</button>
        <button class="user-link"><a ng-href="{{currentUser.authority == 'admin' ? 'admin.html' : (currentUser.authority == 'vendor' ? 'vendor.html' : 'UserPage.html')}}">MY INFO</a></button>
        <button class="cart-link"><a href="CartPage.html">CART</a></button>
		<!--<button class="cart-link" data-toggle="modal" data-target="#myModalcart">CART</a></button>-->
				<button class="login-link"><a href="LoginPage.html">LOG IN / SIGN UP</a></button>
			</div>
			<div class='sideButtons'>
				Welcome {{currentUser.name}}!
				<button class='signout' ng-click='signOut()'>
					<span>Sign Out</span><i class='fas fa-sign-out-alt'></i>
				</button>

			</div>

    </div>
</header>

<!-- !PAGE CONTENT! -->
<body class="adminPage" ng-app="directoryApp" ng-controller="ListingsController">
	<span class="page-title"> ADMIN PAGE </span>

	<div class="content-container">
		<div class="table-containers">
			<!-- orders-->
			<div class="orders-container" >
					<span class="orders-title">ORDERS</span>
					<input type="text" class="form-control" placeholder="search order history by ID" ng-model="queryOrderHist"/>
					<div class="orders-box">
						<div class="orders-headers-container">
							<div class="orders-header">ORDER ID</div>
							<div class="orders-header">&nbsp&nbsp&nbsp&nbsp&nbspCUSTOMER</div>
							<div class="orders-header">EMAIL</div>
							<div class="orders-header">TOTAL PRICE (WITH TAX)</div>
						</div>
						<div class="tableWrapper" ng-show="isMember($index)" ng-repeat="orderUser in users" >
							<div class="tableWrapper" ng-repeat="orderHist in orderUser.orderHist | filter: queryOrderHist">
								<table class="table">
									<td class="order-subhead">{{orderHist._id}}</td>
									<td class="order-subhead">{{orderUser.name}}</td>
									<td class="order-subhead">{{orderUser.email}}</td>
									<td class="order-subhead">{{ "$" + orderHist.total}}</td>
									<tr ng-repeat="cart in orderHist.cart">
										<td class="orderDate">{{"Order Date: " + cart.trans}}</td>
										<td class="orderProduct">{{"Product: " + cart.productC}}</td>
										<td class="orderQuantity">{{"Quantity: " + cart.quantity}}</td>
										<td class="orderProductPrice">{{"Unit Price: $" + cart.price}}</td>
									</tr>
								</table>
							</div>
					</div>
				</div>
			</div>

			<!--inventory -->
			<div class="inventory-container">
				<span class="inventory-title">INVENTORY</span>
				<input type="text" class="form-control" placeholder="search inventory" ng-model="queryInventory">
				<div class="inventory-box">
					<div class="inventory-headers-container">
						<div class="inventory-header">NAME</div>
						<div class="inventory-header">ID</div>
						<div class="inventory-header">QUANTITY</div>
						<div class="inventory-header">VENDOR</div>
					</div>
					<div class="tableWrapper" >
						<table class="table">
							<tr ng-repeat="user in users | filter:queryInventory" ng-show="isProduct($index)">
								<td class="inventory-listing">{{user.itemname}}</td>
								<td class="inventory-listing">{{user._id}}</td>
								<td class="inventory-listing">{{user.itemqty}}</td>
								<td class="inventory-listing">{{user.ivenuser}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<!--USERS -->
			<div class="users-container">
				<span class="users-title">MEMBERS</span>
				<input type="text" class="form-control" placeholder="search members" ng-model="queryMembers">
				<div class="users-box">
					<div class="users-headers-container">
						<div class="users-header">NAME</div>
						<div class="users-header">ID</div>
						<div class="users-header">EMAIL</div>
						<div class="users-header">PHONE</div>
					</div>
					<div class="tableWrapper" >
						<table class="table">
							<tr ng-repeat="user in users | filter:queryMembers" ng-show="isMember($index)">
								<td class="inventory-listing">{{user.name}}</td>
								<td class="inventory-listing">{{user._id}}</td>
								<td class="inventory-listing">{{user.email}}</td>
								<td class="inventory-listing">{{user.phone}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<!--VENDORS-->
			<div class="users-container">
				<span class="users-title">VENDORS</span>
				<input type="text" class="form-control" placeholder="search vendors" ng-model="queryVendors">
				<div class="users-box">
					<div class="users-headers-container">
						<div class="users-header">NAME</div>
						<div class="users-header">ID</div>
						<div class="users-header">EMAIL</div>
						<div class="users-header">PHONE</div>
					</div>
					<div class="tableWrapper" >
						<table class="table">
							<tr ng-repeat="user in users | filter:queryVendors" ng-show="isVendor($index)">
								<td class="inventory-listing">{{user.name}}</td>
								<td class="inventory-listing">{{user._id}}</td>
								<td class="inventory-listing">{{user.email}}</td>
								<td class="inventory-listing">{{user.phone}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<!--ANALYTICS -->
			<div class="analytics-container">
				<span class="analytics-title">ANALYTCS</span>
				<div class="analytics-box">
					<div class="analytics-headers-container">
						<div class="analytics-header">BEST SELLER</div>
						<div class="analytics-header">SOME DATA</div>
						<div class="analytics-header">WORST SELLER</div>
					</div>
					<div class="analytics-listings-container">
						<div class="analytics-listing">BANANA</div>
						<div class="analytics-listing">DATA</div>
						<div class="analytics-listing">BRUSSEL SPROUTS</div>
					</div>
				</div>
			</div>
		</div>

		<div class="vendor-signup-container">
			<div class='mySignUp' ng-controller="ListingsController">
				<span class='signTitle'>SIGN UP</span>
				<form class= 'signForm' id= "myForm" onsubmit="this.reset()">
					<span class='signUpItem'>
						<span class='fieldTitle'>Username</span>
						<input type='text' ng-model="newUser.name"/></span>
					<span class='signUpItem'>
						<span class='fieldTitle'>Email</span>
						<input type='email' ng-model="newUser.email"/></span>
					<span class='signUpItem'>
						<span class='fieldTitle'>Password</span>
						<input type='password' data-content='Password must contain at least one uppercase letter, one lowercase letter, and one number and be at least 8 characters long.' data-toggle="popover" data-placement="left" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ng-model="newUser.password"/></span>
					<span class='signUpItem'>
						<span class='fieldTitle'>Verify Password</span>
						<input type='password' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ng-model="newUser.vpassword"/></span>
					<span class='signUpItem'>
						<span class='fieldTitle'>Phone Number</span>
						<input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" ng-model="newUser.phone"/></span>
						<button class='btn btn-primary signUpSubmit' ng-click='addVendor()'>SIGN UP</button>
						{{upResult}}
				</form>
				<!--<button class="test" ng-click="addToCart()">TESTS</button>-->
			</div>
		</div>
	</div>
</body>

	<script src="https://js.stripe.com/v3/"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="https://code.angularjs.org/1.4.3/angular.js"></script>

	<script src="js/app.js"></script>
	<script src="js/factories/listingFactory.js"></script>
	<script src="js/controllers/listingController.js"></script>
</html>
