<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='./styles/CartPageStyles.css'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body class='cartPage' ng-app="directoryApp" ng-controller="ListingsController">
    <div class='topBar'>
      <img class='logo' src='./pictures/logo_transparent.svg' height='150px' width='150px'/>
      <div class="navBar">
        <button class="home-link"><a href="index.html">HOME</a></button>
        <button class="about-link"><a href="#about">ABOUT</a></button>
        <button class="contact-link"><a href="#contact">CONTACT</a></button>
        <button class="user-link"><a href="UserPage.html">MY INFO</a></button>
        <button class="cart-link"><a href="CartPage.html">CART</a></button>
        <button class="login-link"><a href="LoginPage.html">LOG IN / SIGN UP</a></button>
      </div>
    </div>
    <div class='cartContent'>
      <div class='loggedIn'>{{currentUser.name}} is Logged in!</div>
      <span class='title'>SHOPPING CART</span>
      <div class='infoContainer'>
        <div class='cartHeaders'>
            <div class='nameHeader'>Product</div> <!--Place item name data here in {}-->
            <div class='quantityHeader'>Quantity</div> <!--Place item description here in {}-->
            <div class='priceHeader'>Price</div> <!--Place item price data here in {}-->
            <div class='removeHeader'>Remove</div>
        </div>
        <div class='individualCartListing' ng-repeat= 'cart in currentUser.cart'> <!--Repeating Row-->
          <div class='itemName'>{{cart.productC}}</div> <!--Place item name data here in {}-->
          <div class='itemQuantity'>{{cart.quantity}}</div> <!--Place item description here in {}-->
          <div class='listingPrice'>{{cart.price}}</div> <!--Place item price data here in {}-->
          <div class='removeListingContainer'><button class='removeButton far fa-trash-alt'></button></div>
        </div>
        <div class='separateCalcRow'>
          <button class="calculate" ng-click='finalPrice()'>Done Ordering</button>
            <div class="preTax">Before Tax: {{before}}</div>
            <div class='taxInfo'>Tax: {{tax}}</div>
            <div class='finalPrice'>Final: {{final}}</div>
        </div>
      </div>
      <div class='bottomButtons'>

        <button class='backToProducts'><a href='index.html' >Go Back To Shopping</a></button>
        
		 <!-- CHECKOUT API -->
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <button class='order' id="buttonCheckout">Checkout</button>
        <script src="card-stripe/checkout.js"></script>

      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>  
  </body> 
</html>
