<!DOCTYPE html>
<html>
  <head>
  <!-- Bootstrap or modal-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='./styles/CartPageStyles.css'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body class='cartPage' ng-app="directoryApp" ng-controller="ListingsController">
    <div class='topBar'>
      <img class='logo' src='./pictures/logo_transparent.svg' height='150px' width='150px'/>
      <div class="navBar">
        <button class="home-link"><a href="index.html">HOME</a></button>
		<button class="about-link" data-toggle="modal" data-target="#myModalabout">ABOUT</button>
		<button class="contact-link" data-toggle="modal" data-target="#myModalcontact">CONTACT</button>
        <button class="user-link"><a ng-href="{{currentUser.authority == 'admin' ? 'admin.html' : (currentUser.authority == 'vendor' ? 'vendor.html' : (currentUser.authority == 'member' ? 'UserPage.html' : 'LoginPage.html'))}}">MY INFO</a></button>
        <button class="cart-link"><a ng-href="{{currentUser != undefined ? 'CartPage.html' : 'LoginPage.html'}}">CART</a></button>
        <button class="login-link"><a href="LoginPage.html">LOG IN / SIGN UP</a></button>
      </div>
      <div class='sideButtons'>
        Welcome {{currentUser.name}}!
        <button class='signout' ng-click='signOut()'>
          <span>Sign Out</span><i class='fas fa-sign-out-alt'></i>
        </button>
      </div>
    </div>
    <div class='cartContent'>

      <span class='title'>SHOPPING CART</span>
      <div class='infoContainer'>
        <div class='cartHeaders'>
            <div class='nameHeader'>Product</div> <!--Place item name data here in {}-->
            <div class='quantityHeader'>Quantity</div> <!--Place item description here in {}-->
            <div class='priceHeader'>Price</div> <!--Place item price data here in {}-->
            <div class='removeHeader'>Remove</div>
        </div>
        <div class='individualCartListing' ng-repeat= 'cart in currentUser.cart'> <!--Repeating Row-->
          <div class='itemName'>{{cart.productC}}</div> <!--Place item name data here in {}-->
          <div class='itemQuantity'>{{cart.quantity}}</div> <!--Place item description here in {}-->
          <div class='listingPrice'>{{cart.price}}</div> <!--Place item price data here in {}-->


          <div class='removeListingContainer'><button class='removeButton far fa-trash-alt' ng-click="removeFromCart(cart._id)"></button></div>

        </div>
        <div class='separateCalcRow'>
          <!--<button class="calculate" ng-click='finalPrice()'>Done Ordering</button>-->

            <div class="preTax">Before Tax: {{before}}</div>
            <div class='taxInfo'>Tax: {{tax}}</div>
            <div class='finalPrice'>Final: {{final}}</div>
        </div>
      </div>
      <div class='bottomButtons'>
        <button class='backToProducts'><a href='index.html' >Go Back To Shopping</a></button>
		 <!-- CHECKOUT API -->
       <!-- <div class='payment' id='finalPayment'ng-click='finalPrice()'>Total Payment: ${{final}}</div> -->
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <button class='order' id="buttonCheckout" ng-click='finalPrice()'>Checkout</button>
        <div class="orderIDPopup">Your Order ID: {{transID}}</div>
      </div>
    </div>
	
	<!-- MODALS -->

	<!-- About Modal -->
	<div id="myModalabout" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content" style="color:black;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<center><h4 class="modal-title">ABOUT US</h4></center>
				</div>
				<div class="modal-body">
						<h3>Collective & Co opened The Bodega marketplace September 2018 inside UF Innovate the Hub. The Bodega exists to provide a premiere lunch experience through fast and reliable service, exceptional customer-to-employee interactions, and high quality, locally-sourced prepared foods. Catering and group orders can be ordered by businesses around the Bodega.</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Contact Modal -->
	<div id="myModalcontact" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="color:black;">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<center><h4 class="modal-title">CONTACT US</h4></center>
				</div>
	 
				<div class="modal-body">
						<h4>BODEGA GAINESVILLE EMAIL : bodegaGNV@gmail.com</h4>
						<p>  </p>
					<form action="action_page.php">

						<label for="fname">First Name</label>
						<br>
						<input type="text" id="fname" name="firstname" placeholder="Your name..">
						<br>
						<label for="lname">Last Name</label>
						<br>
						<input type="text" id="lname" name="lastname" placeholder="Your last name..">
						<br>
						<label for="email">E-mail</label>
						<br>
						<input type="text" id="email" name="lastname" placeholder="Your Email">
						<br>
						<label for="subject">Subject</label>
						<br>
						<input type="text" id="subject" name="subject" placeholder="Subject here" style="width:500px;">
						<br>
						<label for="content" >Content</label>
						<br>
						<textarea id="content" name="content" placeholder="Write something.." style="height:200px; width:500px;"></textarea>
						<br>
						<input type="submit" value="Submit">
					</form>
				</div>
	  
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>

    <script src="js/controllers/listingController.js"></script>
  </body>
</html>
