<!DOCTYPE html>
<html>
<title>BODEGA HOMEPAGE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- LINKS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
	 <!-- next 3 lines are mapbox api implementations-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!-- implementing notifications API -->

<head>
	<br>
	<br>
	<center><img src = "pictures/BodegaLogo.png" alt ="Bodega Logo" width="196" height="154"></center>
<!-- Top menu -->
<div class="w3-main w3-content" style="max-width:1200px;margin-top:50px">
	<div class="w3-bar w3-black w3-padding-16">
		
		<a href="index.html" class="w3-bar-item w3-button">HOME</a> 
		<a href="#about" class="w3-bar-item w3-button">ABOUT</a>
		<a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
		<a href="UserPage.html" class="w3-bar-item w3-button">USER PAGE</a>
	
		<input class="w3-input w3-third w3-border w3-round-large w3-light-gray" type="text" placeholder="Search..." style="black">
		<i class="fa fa-search w3-xxlarge" ></i>
		
		<a href="CartPage.html" class="w3-right w3-bar-item w3-button">CART</a>
		<!--<i class="fa fa-shopping-cart w3-xxlarge" ></i> -->
		<a href="LoginPage.html" class="w3-right w3-bar-item w3-button">LOG IN</a>
		<!-- <i class="fa fa-sign-in w3-xxlarge" ></i> -->
  </div>

</div>
</head>
<body>
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content " ng-controller="ListingsController" style="max-width:1200px;margin-top:50px">
	
	
  <!-- First Photo Grid
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter" ng-repeat="listing in listings | filter: query" ng-click="showDetails($index)">
	<a href ="ProductPage.html">
      <img src="pictures/product.jpg" alt="product" >
      <h3>{{blisting.name}}</h3>
      <p>{{blisting.description}}</p>
	  </a>
    </div>-->
	
	  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter" ng-repeat="listing in listings | filter: query" ng-click="showDetails($index)">
	<a href ="ProductPage.html">
      <img src="pictures/foods/ChickenandVegies.jpg" alt="product" width="196" height="154">
      <h3>Chicken and Veggies</h3>
      <p>Baked chicken with assorted Veggies.</p>
	  </a>
    </div>
     <div class="w3-quarter">
	 <a href ="ProductPage.html">
      <img src="pictures/foods/Mojo pork with rice and beans.jpg" alt="product" width="196" height="154" >
      <h3>Mojo pork with rice and beans</h3>
      <p>White rice mixed with black beans, topped with delicious Mojo pork.</p>
	  </a>
    </div>
    <div class="w3-quarter">
      <img src="pictures/foods/Turkey with mash potatoes.jpg" alt="product" width="196" height="154" >
	  <a href ="ProductPage.html">
      <h3>Turkey with mash potatoes</h3>
      <p>A taste of Thanksgiving.</p>
	  </a>
    </div>
    <div class="w3-quarter">
      <img src="pictures/foods/Summer Salad.jpg" alt="product" width="196" height="154" >
	  <a href ="ProductPage.html">
      <h3>Summer Salad</h3>
      <p>Salad built for the summer.</p>
	  </a>
    </div>
  </div>
  
    <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter" ng-repeat="listing in listings | filter: query" ng-click="showDetails($index)">
	<a href ="ProductPage.html">
      <img src="pictures/foods/Chicken and Bri on Tomato Swirl bread.jpg" alt="product" width="196" height="154">
      <h3>Chicken and Bri on Tomato Swirl bread</h3>
      <p>Yummy Chicken and Bri on Tomato Swirl bread</p>
	  </a>
    </div>
     <div class="w3-quarter">
	 <a href ="ProductPage.html">
      <img src="pictures/foods/Chicken Croissant and Brio cold brew coffee.jpg" alt="product" width="196" height="154" >
      <h3>Chicken Croissant and Brio cold brew coffee</h3>
      <p>Chicken Croissant and Brio cold brew coffee</p>
	  </a>
    </div>
    <div class="w3-quarter">
      <img src="pictures/foods/cilantro chicken with rice & beans.jpg" alt="product" width="196" height="154" >
	  <a href ="ProductPage.html">
      <h3>Cilantro chicken with rice & beans</h3>
      <p>Cilantro chicken with rice & beans</p>
	  </a>
    </div>
    <div class="w3-quarter">
      <img src="pictures/foods/turkey club on a spinach wrap with a yummy cookie.jpg" alt="product" width="196" height="154" >
	  <a href ="ProductPage.html">
      <h3>Turkey club on a spinach wrap with a yummy cookie</h3>
      <p>Turkey club on a spinach wrap with a yummy cookie.</p>
	  </a>
    </div>
  </div>>
	 
   <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
  
   <br>
   <!-- MAP -->
   <!--ADDRESS-->
   <center><h1>FIND A BODEGA NEAR YOU</h1></center>
<!--    <div class="w3-container w3-half w3-card w3-left">
	<CENTER><h3>STORES NEARBY</h3></CENTER>
  	<table class="w3-table-all w3-card-4">
		<tr>
			<th>NAME</th>
			<th>ADDRESS</th>
			

			</tr>
			<tr>
			<td>BODEGA AT THE HUB</td>
			<td>UF HUB ADDRESS</td>
			</tr>
			<td>BODEGA AT EXATECH</td>
			<td>UF HUB ADDRESS</td>
		</tr>
	</table>
  </div> -->
   
   <!-- MAP ACTUTAL -->
   
  <div class "w3-container w3-left">
    <div class="nearestBodega">
    <link rel="mapStyle w3-left" href="mapbox/map.css">
    <div id='map' style='width: 800px; height: 600px;'></div>
    <script src="mapbox/map.js"></script>
	</div>
   </div>


  <!-- MAP END -->
  
	<br>
	<br>
  <!-- Footer -->
  <footer class="w3-row-padding padding-32">
    <div class="w3-third" >
	<a name="about"></a> 
      <center><h1>ABOUT</h1></center>
      <center><p>	Collective & Co opened The Bodega marketplace September 2018 inside UF Innovate the Hub. The Bodega exists to provide a premiere lunch experience through fast and reliable service, exceptional customer-to-employee interactions, and high quality, locally-sourced prepared foods. Catering and group orders can be ordered by businesses around the Bodega by contacting bodegaGNV@gmail.com.</p></center>
    </div>
  
    <div class="w3-third">
	<a name="contact"></a> 
      <center><h1>CONTACT US</h1></center>
		<center><p>Collective & Co. Bodega Email : bodegaGNV@gmail.com. </p></center>
    </div>
	
	<div class="w3-third">
      <center><h1>SOCIAL MEDIA</h1>
			<a href="#" class="fa fa-facebook w3-jumbo"></a>
			<a href="#" class="fa fa-twitter w3-jumbo"></a>
			<a href="#" class="fa fa-instagram w3-jumbo"></a>
			</center>
    </div>

  </footer>

<!-- End page content -->
</div>
</body>
</html>