<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='./styles/UserPageStyles.css'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body class='userPage' ng-app="directoryApp" ng-controller="ListingsController">
    <div class='topBar'>

      <img class='logo' src='./pictures/logo_transparent.svg' height='150px' width='150px'/>
      <div class="navBar">
        <button class="home-link"><a href="index.html">HOME</a></button>
        <button class="about-link"><a href="#about">ABOUT</a></button>
        <button class="contact-link"><a href="#contact">CONTACT</a></button>
        <button class="user-link"><a ng-href="{{currentUser.authority == 'admin' ? 'admin.html' : (currentUser.authority == 'vendor' ? 'vendor.html' : 'UserPage.html')}}">MY INFO</a></button>
        <button class="cart-link"><a href="CartPage.html">CART</a></button>
        <button class="login-link"><a href="LoginPage.html">LOG IN / SIGN UP</a></button>
      </div>
      <div class='sideButtons'>
        Welcome {{currentUser.name}}!
        <button class='signout' ng-click='signOut()'>
          <span>Sign Out</span><i class='fas fa-sign-out-alt'></i>
        </button>
      </div>  
    </div>
    <div class='userContent'>
      <div class='loggedIn'>{{currentUser.name}} is Logged in!</div>
      <div class='sideButtons'>
        <button class='signout' ng-click='signOut()'>
          <span>Sign Out</span><i class='fas fa-sign-out-alt'></i>
        </button>
      </div>
      <div class='infoContainer'>
        <div class='history'>
          <span class="topTitle">ORDER HISTORY</span>
          <div class='listedItems'>
            <div class='itemHeaders'>
              <div class='nameHeader'>Name</div> 
              <div class='dateHeader'>Date</div> 
              <div class='descriptionHeader'>Info</div> 
              <div class='reorderHeader'>Reorder</div>
            </div>
            <div class='individualItem' ng-repeat= 'orderHist in currentUser.orderHist'>
              <div class='itemName'>{{orderHist.Product}}</div> <!--Place item name data here in {}-->
              <div class='orderDate'>{{orderHist.transaction.getDate()}}</div> <!--Place item last order data here in {}-->
              <div class='descriptionButton'><i class='fas fa-info-circle'></i></div> <!--Link to product page for item ID-->
              <div class='reorderButton'><i class='fas fa-plus-circle'></i></div> <!--Link to add item to current user cart-->
            </div>
          </div>
        </div>
        <div class='userInfo'>
          <span class="topTitle">PROFILE INFO</span>
          <div class='listedInfo'>
            <div class='mainInfo'>
              <img class='userPic' src='./pictures/ProfileIcon.png' height='100px' width='100px'/> <!--Place user-submitted image here in {} in src-->
              <div class='infoData'>
                <div class='infoBlock'><span>Name </span><span>{{currentUser.name}}</span></div> <!--Place user name data here in {}-->
                <div class='infoBlock'><span>Cell </span><span>{{currentUser.phone}}</span></div> <!--Place user cell data here in {}-->
                <div class='infoBlock'><span>Email </span><span>{{currentUser.email}}</span></div> <!--Place user email data here in {}-->
              </div>
            </div>
            <div class='cardContainer'>
              <button class='myCard'>CARD API HERE</button>
              <!--Link saved payment API here-->
            </div>
            <form class='changeInfo' onsubmit="this.reset()">
              <div class='submittedImg'>New Picture</div><input type="file" /><!--Find dropImage API and place here-->
              <div class='changeName'>New Name</div><input type='text' ng-model="newUN"/>
              <button class="changeName" ng-click="newName(newUN)">Change</button>
              <div class='changeCell'>New Cell</div><input type='tel' name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" ng-model="newCell"/>
              <button class="changeCell" ng-click="newTel(newCell)">Change</button>
              <div class='changeEmail'>New Email</div><input type='email' ng-model="newE"/>
              <button class="changeEmail" ng-click="newMail(newE)">Change</button>
              {{newResult}}
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>    
  </body>  
</html>