*{
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;

    text-decoration: none;

  }
  
  .userPage{
    text-align: center;

    background-image: linear-gradient(to bottom right, rgb(57, 226, 225), rgb(6, 81, 112));

  }
  
  .topBar{
    order: 1;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    border: 5px ridge #FCF3A2;

  }
  
  .logo{
    order: 1;

  }
  
  .navBar{
    order: 2;
    width: 70%;
    border-radius: 5px;
    border: 3px double #FCF3A2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 75px;
  }
  
  .home-link, .about-link, .contact-link, .cart-link, .login-link, .user-link{
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    max-height: 60%;
    font-size: 1.3vw;

  }
  .userContent{
    order: 2;
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 20px 20px;
    width: 100%;
  }

  .loggedIn{
    color: #FFFFFF;
  }


  .infoContainer{
    order: 2;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: flex-start;
    width: 100%;
    padding: 20px 20px;
  }

  .topTitle{
    color: #FFFFFF;
  }

  
  .history{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 35%;
  } 

  .transactionSearch{
    width: 100%;
  }
  
  .listedItems{

    margin-top: 10px;
    border: 3px outset #FCF3A2;
    background-color: #FFFFFF;
    color: #FC7869;
    border-radius: 5px;

  }

  .individualItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    font-size: 1vw;
    padding: 10px 0;
  }

  .itemName, .ordertime{
    height: 100%;
    width: 35%;
  }

  .productAmount, .productPrice{
    height: 100%;
    width: 15%;
  }

  .singleOrder{
    border-bottom: 2px solid #D2D2D2;
    padding: 10px 0;
  }

  .itemHeaders{
    border-bottom: 3px ridge #FCF3A2;
    color: #FFFFFF;
    background-color: #FC7869;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1vw;
    padding: 10px 0;
  }

  .nameHeader, .dateHeader{
    height: 100%;
    width: 35%;
  }

  .qtyHeader, .priceHeader{
    height: 100%;
    width: 15%;
  }

  .userInfo{
    order: 2;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
  }
  
  .listedInfo{

    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 3px outset #FCF3A2;
    background-color: #FFFFFF;
    color: #FC7869;
    border-radius: 5px;
    padding-bottom: 10px;

  }

  .mainInfo{
    order: 1;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1vw;
    background-color: #FC7869;
    border-bottom: 3px ridge #FCF3A2;
    color: #FFFFFF;
    padding: 10px 10px;
  }

  .userPic{
    border-radius: 50%;
    border: 2px solid #FCF3A2;
    height: 7vw;
    width: 7vw;

  }

  .infoData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;

    height: 7vw;

    width: 75%;
  }

  .infoBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .cardContainer{
    order: 2;
    width: 100%;

    margin: 20px 20px;

  }

  .myCard{
    width: 80%;
    height: 100%;

    outline: none;
    border: none;
    background-color: transparent;
    color: #FC7869;
    cursor: pointer;

  }

  .changeInfo{
    order: 3;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    font-size: 1vw;
  }

  .sideButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    order: 3;
  }

  .signout{
    border: 2px outset #FCF3A2;
    background-color: #FC7869;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;

  }

  .tableWrapper{
    width: inherit;

  }